body {
  background: blue;
}
.card {
  background: yellow;
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

}
.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.3rem;
  color: #333;
  font-family: sans-serif;
}
.control {
  font-size: 1.3rem;
  width: 300px;
  margin: 1rem auto;
}
h1 {
  text-align: center;

}
img {
  text-align: center;
  width: 300px;
}